$mainColor: blue;
.ui-container {
  position: relative;
  background: #191919;
  height: 100%;

  .drag-and-drop-section {
    width: 100%;
    height: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    .drag-section {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      background-color: #191919;
      color: #fff;
      font-size: 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .upload-btn {
        padding: 0.5rem 1.2rem;
        background-color: $mainColor;
        color: white;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
      .upload-btn:hover {
        cursor: pointer;
      }
      .table {
        width: 90vw;
        thead {
          tr {
            text-align: center;
            th {
              padding: 0.5rem;
              font-weight: 500;
              border: none;
              text-align: left;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 0.5rem;
            }
          }
        }
      }
      &.drag-hover {
        background: rgba($color: #000000, $alpha: 0.2);
        border: 4px dashed yellow;
      }
    }
  }

  .upladed-files-section {
    bottom: 0;
    right: 0;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    background-color: #fff;
    .items-container {
      overflow-y: scroll;
    }
    &.my-class {
      background-color: brown;
    }
    .title {
      border-radius: 1rem 1rem 0 0;
      background-color: rgba($color: #000000, $alpha: 1);
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close-btn {
        cursor: pointer;
      }
    }
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0.2rem;
      width: 520px;
      p.file-name {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        margin: 0.5rem;
        span {
          padding: 0.5rem;
        }
      }
      p.file-porcent {
        display: flex;
        align-items: center;
        max-width: 100%;
        span {
          padding: 0.5rem;
          color: #fff;
        }
      }
    }
  }
}
.loading {
  background-color: rgba(58, 70, 245, 0.7);
  border-radius: 0.3rem;
}
.loaded {
  background-color: rgba(58, 175, 58, 0.7);
  border-radius: 0.3rem;
}
